* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 1s;
}

header {
    height: 60px;
}

.page-1 {
    height: calc(100vh - 60px);
    position: relative;
}

.page-2 {
    height: 100vh;
}

#arrow {
    width: 60px;
    height: 60px;
    opacity: .05;
    position: fixed;
    left: 50%;
    margin-left: -30px;
    transition-duration: 0s;
    bottom: 20px;
    z-index: 0;
}


#headline hr {
    transition-duration: 0s;
    width: 80px;
    margin-top: 5px;
    position: relative;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    padding: 0; 
}

#headline {
    transition-duration: 0s;
    color: rgba(228, 169, 60, 0.74);
    font-family: 'Montaga', serif;
    font-size: 16px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    font-weight: 100;
}

.boxes {
    left: 50%;
    /* height: 85vh; */
    height: auto;
    width: 80vw;
    margin: auto auto;
    padding: 20px 20px 40px 0px;
    /* padding: 20px;
    padding-left: 0px; */
    float: left;
    box-shadow: 1px 1.5rem 2rem 0rem lightgray;
}


.content {
    margin: auto auto;
    margin-top: 10px;
    min-width: 300px;
    width: 100vw;
    overflow: hidden;
}

.about-me {
    font-family: "Montaga", sans-serif;
    left: 50%;
    /* transform: translateX(-50%); */
    font-size: 15px;
    text-align: left;
    color: rgb(145, 145, 145);
    font-weight: 100;
    font-size: 1.2rem;
    padding: 30px 15px 40px 15px;
    /* margin: 0 15px; */
    /* margin-bottom: 40vh; */
    box-shadow: 2px 1.5rem 2rem -1rem lightgray;
}

.box {
    height: 150px;
    margin-top: 10px;
    width: 66vw;
    float: left;
    overflow: hidden;
}

.box-text {
    float: left;
    width: auto;
    height: 150px;
    margin-top: 10px;
    position: relative;
}

.box-text p {
    position: absolute;
    left: 5px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    color: rgb(202, 202, 202);
}
.box-1 {
    background-color: rgb(29, 29, 29);
    background-image: url(images/treebnw.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.box-2 {
    background-color: rgb(29, 29, 29);
    background-image: url(images/campsite.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center top;
}

.box-3 {
    background-color: rgb(29, 29, 29);
    background-image: url(images/circus5.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center center;
}

.info {
    color: rgb(230, 227, 227);
    font-family: 'Montaga', serif;
    float: right;
    writing-mode: tb-rl;
    position: absolute;
    top: 0;
}

.hidden-small {
    display: none;
}

/***************** MEDIA QUERIES ****************/

@media only screen and (min-width: 570px) {
    .about-me {
        padding: 80px 30px 120px 30px;
    }
    
    .page-1 {
        height: 35vh;
    }

    #arrow {
        display: none;
    }

    .page-2 {
        height: auto;
    }

    .box {
        margin-top: 20px;
    }

    #headline hr {
        width: 150px;
        margin-top: 20px;
    }

    .content {
        height: 93vh;
        position: absolute;
        top: 7vh;
        margin-top: 0;
    }

}

@media only screen and (min-width: 767px) {
    .box-1 {
        background-size: cover;
        background-position: 50% 75%;
    }

    .box-2 {
        background-size: 100%;
        background-position: 50% 85%;
    }

    .box-3 {
        background-image: url(images/circus4.png);
        background-size: cover;
        background-position: 0% 98%;
    }

    .box {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .boxes {
        width: auto;
    }

    .info {
        display: none;
    }

    .hidden-small {
        display: block;
        height: 150px;
        float: left;
        width: 33vw;
        padding: 20px;
        padding-top: 0;
    }

    .bold hr {
        width: 80px;
        margin-top: 5px;
        position: relative;
        height: 1px;
        border: 0;
        border-top: 1px solid #ddd;
        padding: 0; 
        }

    .bold {
        font-weight: bold;
        color: rgba(228, 169, 60, 0.74);
        font-size: 20px;
        font-family: "Source Sans Pro", serif;
        
    }
}

/***************** END MEDIA QUERIES ****************/
