* {
    margin: 0;
    padding: 0;
    transition: none;
}

/************* ANIMATIONS **************/

@keyframes slide-in-github {
    0% {
        right: 0;
        transform: rotate(360deg);
    
    }
    100% {
        right: 9rem;
        display: block;
        transform: rotate(0deg);
    }
}

@keyframes slide-in-linkedin {
    0% {
        right: 0;
        transform: rotate(360deg);
    
    }
    100% {
        right: 18rem;
        display: block;
        transform: rotate(0deg);
    }
}

@keyframes slide-in-instagram {
    0% {
        right: 0;
        transform: rotate(360deg);
    
    }
    100% {
        right: 27rem;
        display: block;
        transform: rotate(0deg);
    }
}

@keyframes scroll {
    0% {left: 0;}
    100% {left: -290%;}
} 

/************* END ANIMATIONS **************/

:root {
    --font-color-primary:rgb(77, 77, 77);
    --font-color-secondary: black;
}

body {
    overflow: hidden;
}

.container {
    background-image: url("/images/wood2.jpg");
    background-color: rgb(2, 2, 2);    
    background-blend-mode: screen;
    background-size: cover;
    height: 100vh;
    width: 100vw;
} 

.words {
    font-family: "Julius Sans One", sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    font-size: 3rem;
    padding: 2rem;
    position: absolute;
}

#word1 {
    writing-mode: vertical-lr;
    font-size: 5rem;
    padding-left: 0;
    padding-top: 0;
}

#word2 {
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 5rem;
    top: 40%;
}

#word3 {
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    color: rgba(240, 240, 240, .2);
    font-size: 30rem;
    position: absolute;
    padding: 0;
    top: 40%;
    animation: scroll 30000ms linear none infinite normal;
}

#word4 {
    right: 18vw;
    top: 20vh;
    font-size: 3rem;
}


.overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0.3;
    display: none;
}

.selfy {
    background-image: url("/images/selfy3.jpg");
    background-size: cover;
    background-position: 10%;
    cursor: pointer;
    overflow: hidden;
    z-index: 6;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: solid 4px white;
    margin: 1rem;
}

.link {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: solid 4px white;
}

.selfy:hover {
    background-image: url("/images/selfy.jpg");
}

.selfy:hover ~ .links {
    display: block;
}

.selfy:hover ~ .overlay {
    display: block;
}

.selfy:hover ~ .container {
    background-blend-mode: luminosity;
}

.links:hover ~ .overlay{
    display: block;
}

.links:hover ~ .container {
    background-blend-mode: luminosity;
}

.links:hover {
    display: flex;
    justify-content: left;    
}

.links:hover > .link{
    /* position: relative; */
    display: relative;
}


.links {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    height: 10rem;
    width: 100vw;
    z-index: 2;
    display: none;
}


.links:hover > .github, .selfy:hover ~ .links > .github {
    animation-name: slide-in-github;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

.links:hover > .linkedin, .selfy:hover ~ .links > .linkedin {
    animation-name: slide-in-linkedin;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

.links:hover > .instagram, .selfy:hover ~ .links > .instagram {
    animation-name: slide-in-instagram;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}

.github {
    background-image: url("/icons/github2.svg");
    background-size: cover;
    position: absolute;
    right: 0;
    z-index: 4;
}

.linkedin {
    background-image: url("/icons/linkedin2.svg");
    background-size: cover;
    position: absolute;
    right: 0;
    z-index: 2;
}

.instagram {
    background-image: url("/icons/instagram.svg");
    background-size: cover;    
    position: absolute;
    right: 0;
}

